<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="internal_communication.Properties.Settings.mydbConnectionString_internal_comm"
            connectionString="server=127.0.0.1;user id=root;database=mydb;password=Adresse435;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="internal_communication.Properties.Settings.internal_communicationConnectionString"
            connectionString="server=127.0.0.1;user id=root;password=Adresse435;persistsecurityinfo=True;database=internal_communication"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>